@font-face {
	font-family: 'GilroyBlack';
	src: url('../fonts/Gilroy-Black.woff') format('woff');
}

@font-face {
	font-family: 'GilroyBold';
	src: url('../fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
	font-family: 'GilroySemibold';
	src: url('../fonts/Gilroy-Semibold.woff') format('woff');
}

@font-face {
	font-family: 'GilroyHeavy';
	src: url('../fonts/Gilroy-Heavy.woff') format('woff');
}

@font-face {
	font-family: 'GilroyMedium';
	src: url('../fonts/Gilroy-Medium.woff') format('woff');
}

@font-face {
	font-family: 'GilroyRegular';
	src: url('../fonts/Gilroy-Regular.woff') format('woff');
}

body,
html {
	font-size: 62.5%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #fff;
	font-family: 'GilroyRegular';
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

.plateaumed-container {
	padding: 0 8rem 3rem 8rem;
}

.nav-container {
	position: fixed;
	padding: 2rem 8rem;
	width: 100%;
	z-index: 100;
}

.plateaumed-logo {
	height: 5rem;
}

.nav-contact-us {
	float: right;
	clear: right;
}

.nav-contact-us p {
	color: #121483;
	font-size: 2rem;
	line-height: 3rem;
	font-family: 'GilroyBold';
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-top: 1rem;
	margin-right: 4.9rem;
}

.nav-contact-us .plateaumed-phone,
.nav-contact-us .plateaumed-email {
	height: 2rem;
	width: 2rem;
	margin-right: 1rem;
	display: inline-block;
	text-align: center;
}

.plateaumed-email {
	background-image: url('../img/email-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.plateaumed-phone {
	background-image: url('../img/telephone-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.plateaumed-header {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 13rem 0 5rem 0;
	background-image: url('../img/header-background.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.squares-bg {
	position: absolute;
	top: -10%;
	left: 0;
	background-image: url('../img/sqaures.png');
	height: 50rem;
	width: 40rem;
}

.squares-bg-r {
	position: absolute;
	top: -10%;
	right: 0;
	background-image: url('../img/squares-r.png');
	height: 50rem;
	width: 40rem;
}

.plateaumed-header h1,
.plateaumed-header .plateaumed-africa-text {
	position: relative;
	font-size: 6rem;
	letter-spacing: 0.2rem;
	line-height: 6.5rem;
	font-family: 'GilroyBlack';
	display: inline-flex;
}

.plateaumed-header h1 {
	color: #fa8f12;
	width: 75%;
	word-break: break-word;
}

.plateaumed-header .plateaumed-africa-text {
	color: #2e4fb4;
	margin-bottom: 2.5rem;
	width: 42%;
}

.plateaumed-header-bullets {
	list-style: none;
	margin: 0;
	padding-inline-start: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.plateaumed-header-bullets li {
	font-size: 3.5rem;
	line-height: 4.2rem;
	font-family: 'GilroyBold';
	color: #4052f6;
	/* background: -webkit-linear-gradient(90deg, #4052f6, #515bae);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, #4052f6),
		color-stop(100%, #515bae)
	);
	background: -moz-linear-gradient(90deg, #4052f6, #515bae);
	background: -ms-linear-gradient(90deg, #4052f6, #515bae);
	background: -o-linear-gradient(90deg, #4052f6, #515bae);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#4052f6', endColorStr='#515bae', GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#4052f6', endColorStr='#515bae', GradientType=0)";
	background: linear-gradient(90deg, #4052f6, #515bae);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 3rem;
}

.plateaumed-header-bullets .arrow-down {
	height: 3.5rem;
	width: 3.5rem;
	background-image: url('../img/ArrowDownCircle.svg');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 2rem;
	display: inline-block;
}

.plateaumed-header-background {
	background-image: url('../img/header-image.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
	width: 100%;
}

.header-contact-us {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.header-contact-us .header-contact-us-wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 0.5rem;
}

.header-contact-us .header-contact-us-entry {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header-contact-us .header-contact-us-entry p {
	font-size: 2.5rem;
	font-family: 'GilroyRegular';
	font-weight: 600;
	color: #121483;
	line-height: 3rem;
	letter-spacing: 0.1rem;
}

.header-contact-us .header-contact-us-entry div {
	position: relative;
	width: 100%;
}

.header-contact-us .header-contact-us-entry div input[type='email'] {
	width: 100%;
	padding: 2rem 18rem 2rem 3rem;
	border-radius: 2rem;
	font-size: 1.8rem;
	font-family: 'GilroyRegular';
	margin: 0;
	outline: 0;
	border: 0;
	box-shadow: -0.1rem 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
}

.header-contact-us .header-contact-us-entry input[type='email']:focus {
	border: 0.2rem solid #191bb4;
}

::placeholder {
	font-size: 2rem;
	color: #a6afc2;
	font-family: 'GilroyRegular';
}

#plateaumed-notify {
	color: #02c22c;
	font-size: 2rem !important;
	margin-left: 2rem;
	display: none;
	font-family: 'GilroySemibold';
}

.header-contact-us .header-contact-us-entry button {
	height: 100%;
	background: #191bb4;
	padding: 1.5rem 5rem;
	border: 0;
	border-top-right-radius: 2.5rem;
	border-bottom-left-radius: 2.5rem;
	border-bottom-right-radius: 2.5rem;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2rem;
	font-family: 'GilroyBold';
	color: #fff;
	cursor: pointer;
}

.scroll-down-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	color: #fff;
	border: 0;
	background: #191bb4;
}

.scroll-down-btn .chevron-double-down {
	height: 3.5rem;
	width: 3.5rem;
	display: inline-block;
	background-image: url('../img/chevron-double-down.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.core-features {
	margin-top: 12rem;
	margin-bottom: 10rem;
	position: relative;
}

.anon-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 75%;
	height: 60%;
	background-image: url('../img/core-features-bg2.png');
	background-repeat: no-repeat;
	object-fit: fill;
}

.core-features-header-text,
.contact-us-header-text {
	position: relative;
	font-size: 4rem;
	font-family: 'GilroyBold';
	letter-spacing: 0.2rem;
	color: #121483;
	margin-left: 20rem;
	margin-bottom: 8rem;
}

.core-features-header-text img,
.contact-us-header-text img {
	height: 3rem;
	position: absolute;
	bottom: -15%;
	left: -6%;
}

.clinical-features,
.administrative-features,
.financial-analytics {
	margin-bottom: 10rem;
}

.clinical-features h3,
.administrative-features h3,
.financial-analytics h3 {
	color: #2b2ee9;
	font-size: 3.4rem;
	letter-spacing: 0.2rem;
	font-family: 'GilroyBold';
	margin-bottom: 2rem;
}

.features-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: -0.1rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
	border-radius: 3rem;
	padding: 4rem 2rem;
}

.plateaumed-features {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 1.5rem;
	border-left: 0.1rem solid #2b2ee9;
	height: 18rem;
}

.clinical-features .plateaumed-features {
	width: 25%;
}

.administrative-features .plateaumed-features {
	width: 25%;
}

.financial-analytics .plateaumed-features {
	width: 35%;
}

.plateaumed-features h4 {
	font-size: 2rem;
	line-height: 2.5rem;
	font-family: 'GilroyMedium';
	margin-bottom: 1.5rem;
	color: #000109;
}

.plateaumed-features p {
	font-size: 2rem;
	color: #000109;
	font-family: 'GilroyMedium';
}

.footer-contact-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 92%;
}

.plateaumed-footer-contact {
	border-left: 0.1rem solid #ffad4d;
	padding: 2rem 0 2rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.plateaumed-footer div .reach-out {
	color: #3a3b4a;
	font-size: 2.8rem;
	line-height: 4.2rem;
	width: 60%;
	font-family: 'GilroyMedium';
}

.plateaumed-footer-contact p {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #3a3b4a;
	font-size: 2rem;
	font-family: 'GilroyRegular';
	font-weight: 600;
	margin-top: 1.5rem;
}

.plateaumed-phone-small {
	height: 2rem;
	width: 2rem;
	margin-right: 1rem;
	display: inline-block;
}

.badge-container {
	display: flex;
	width: 90%;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.badge-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.badge-container p {
	color: #191bb4;
	font-size: 2.8rem;
	line-height: 4.2rem;
	font-family: 'GilroyBold';
}

.badge-container img {
	height: 5.2rem;
	margin-right: 2rem;
}

@media screen and (max-width: 768px) {
	.plateaumed-container {
		padding: 0 2rem 2rem 2rem;
	}

	.squares-bg,
	.squares-bg-r {
		display: none;
	}

	.nav-container {
		width: 100%;
		padding: 1.5rem 2rem;
	}

	.plateaumed-logo {
		height: 2.2rem;
	}

	.nav-contact-us {
		display: none;
	}

	.plateaumed-header {
		margin-bottom: 4rem;
		background: #fff;
		height: fit-content;
		padding: 8rem 0 0rem 0;
	}

	.plateaumed-header h1,
	.plateaumed-header .plateaumed-africa-text {
		font-size: 2.4rem;
		letter-spacing: 0.1rem;
		line-height: 3rem;
	}

	.plateaumed-header h1 {
		margin-right: 0;
		width: 95%;
		display: inline;
	}

	.plateaumed-header h1 br {
		display: inline;
	}

	.plateaumed-header .plateaumed-africa-text {
		color: #2e4fb4;
		width: 51%;
		margin-bottom: 2.5rem;
	}

	.plateaumed-header-bullets {
		margin-bottom: 2.5rem;
	}

	.plateaumed-header-bullets li {
		font-size: 1.6rem;
		line-height: 1.9rem;
	}

	.plateaumed-header-bullets .arrow-down {
		height: 2rem;
		width: 2rem;
		margin-right: 1rem;
	}

	.plateaumed-header-background {
		margin-top: 0;
		display: block;
		height: 30rem;
	}

	.header-contact-us .header-contact-us-wrapper {
		display: block;
		margin-top: 1.5rem;
	}

	.header-contact-us .header-contact-us-entry {
		width: 100%;
	}

	.header-contact-us .header-contact-us-entry p {
		font-size: 1.6rem;
	}

	.header-contact-us .header-contact-us-entry div input[type='email'] {
		width: 100%;
		padding: 1.5rem 12rem 1.5rem 1.5rem;
		border-radius: 1.7rem;
		font-size: 1.6rem;
	}

	::placeholder {
		font-size: 1.4rem;
	}

	.header-contact-us .header-contact-us-entry button {
		padding: 1rem 3.5rem;
		border-top-right-radius: 1.7rem;
		border-bottom-left-radius: 1.7rem;
		border-bottom-right-radius: 1.7rem;
		font-size: 1.6rem;
	}

	#plateaumed-notify {
		font-size: 1.4rem !important;
	}

	.scroll-down-btn {
		display: none;
	}

	.core-features {
		margin-top: 5rem;
		margin-bottom: 2.5rem;
	}

	.core-features-header-text,
	.contact-us-header-text {
		font-size: 1.8rem;
		margin-bottom: 2.5rem;
		margin-left: 1.4rem;
		letter-spacing: 0;
	}

	.core-features-header-text img,
	.contact-us-header-text img {
		height: 1.5rem;
		left: -10%;
	}

	.clinical-features,
	.administrative-features,
	.financial-analytics {
		margin-bottom: 2.5rem;
	}

	.clinical-features .plateaumed-features,
	.administrative-features .plateaumed-features,
	.financial-analytics .plateaumed-features {
		width: 100%;
	}
	.clinical-features h3,
	.administrative-features h3,
	.financial-analytics h3 {
		font-size: 1.6rem;
	}

	.features-wrapper {
		flex-direction: column;
		align-items: flex-start;
		box-shadow: none;
		padding: 1rem 0;
	}

	.plateaumed-features {
		margin-bottom: 2rem;
		height: 12rem;
	}

	.administrative-features .plateaumed-features,
	.financial-analytics .plateaumed-features {
		width: 100%;
	}

	.plateaumed-features h4 {
		font-size: 1.6rem;
	}

	.plateaumed-features p {
		font-size: 1.6rem;
		line-height: 2rem;
	}

	.plateaumed-footer div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}

	.plateaumed-footer div .reach-out {
		font-size: 1.6rem;
		margin-bottom: 4rem;
		width: 100%;
	}

	.plateaumed-footer-contact {
		margin-bottom: 4rem;
	}

	.plateaumed-footer-contact p {
		font-size: 1.6rem;
	}

	.plateaumed-phone-small {
		height: 2rem;
		width: 3rem;
	}

	.badge-container {
		float: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}

	.badge-container p {
		font-size: 1.4rem;
		line-height: 2rem;
	}

	.badge-wrapper div {
		display: flex;
		flex-direction: row;
	}

	.badge-container img {
		height: 3.2rem;
		margin-right: 1rem;
	}
}

@media (min-width: 769px) and (max-width: 1099px) {
	.nav-container {
		padding: 2rem 5.5rem;
	}

	.plateaumed-container {
		padding: 0 5.5rem 2rem 5.5rem;
	}

	.plateaumed-logo {
		height: 3.5rem;
	}

	.nav-contact-us p {
		font-size: 1.4rem;
		margin-right: 1.8rem;
	}

	.nav-contact-us .plateaumed-phone,
	.nav-contact-us .plateaumed-email {
		height: 1.8rem;
		width: 1.8rem;
	}

	.plateaumed-header {
		position: relative;
		width: 100%;
		padding: 10rem 0 4rem 0;
		background-size: contain;
	}

	.squares-bg {
		height: 40rem;
		width: 30rem;
	}

	.squares-bg-r {
		height: 40rem;
		width: 30rem;
	}

	.plateaumed-header h1 {
		width: 92%;
		font-size: 3.8rem;
		line-height: 6rem;
	}

	.plateaumed-header .plateaumed-africa-text {
		font-size: 4.2rem;
	}

	.plateaumed-header-bullets {
		list-style: none;
		margin: 0;
		padding-inline-start: 0;
	}

	.plateaumed-header-bullets li {
		font-size: 2.4rem;
		line-height: 3.4rem;
	}

	.plateaumed-header-bullets .arrow-down {
		height: 3.2rem;
		width: 3.2rem;
	}

	.header-contact-us .header-contact-us-entry p {
		font-size: 2rem;
		line-height: 4rem;
	}

	.header-contact-us .header-contact-us-entry div input[type='email'] {
		width: 100%;
		padding: 2rem 14rem 2rem 2.5rem;
		border-radius: 1.8rem;
		font-size: 1.6rem;
	}

	::placeholder {
		font-size: 1.6rem;
	}

	#plateaumed-notify {
		font-size: 1.8rem !important;
		margin-left: 1.5rem;
	}

	.header-contact-us .header-contact-us-entry button {
		padding: 1.5rem 4rem;
		border: 0;
		border-top-right-radius: 2.2rem;
		border-bottom-left-radius: 2.2rem;
		border-bottom-right-radius: 2.2rem;
		font-size: 1.8rem;
	}

	.scroll-down-btn {
		margin-bottom: 1rem;
		height: 4rem;
		width: 4rem;
	}

	.scroll-down-btn .chevron-double-down {
		height: 2rem;
		width: 2rem;
	}

	.core-features {
		margin-top: 8rem;
		margin-bottom: 6rem;
	}

	.anon-bg {
		width: 70%;
		height: 55%;
	}

	.core-features-header-text,
	.contact-us-header-text {
		font-size: 3.2rem;
		margin-left: 18rem;
		margin-bottom: 7rem;
	}

	.core-features-header-text img,
	.contact-us-header-text img {
		height: 2.6rem;
		bottom: -12%;
		left: -5%;
	}

	.clinical-features,
	.administrative-features,
	.financial-analytics {
		margin-bottom: 8rem;
	}

	.clinical-features h3,
	.administrative-features h3,
	.financial-analytics h3 {
		font-size: 2.8rem;
		margin-bottom: 1.8rem;
	}

	.features-wrapper {
		border-radius: 2.8rem;
		padding: 3.6rem 1.8rem;
	}

	.plateaumed-features {
		padding: 1rem;
		height: 13rem;
	}

	.administrative-features .plateaumed-features {
		width: 28%;
	}

	.financial-analytics .plateaumed-features {
		width: 35%;
	}

	.plateaumed-features h4 {
		font-size: 1.3rem;
		line-height: 2rem;
		margin-bottom: 1.2rem;
	}

	.plateaumed-features p {
		font-size: 1.2rem;
		line-height: 2.8rem;
		font-family: 'GilroyMedium';
	}

	.plateaumed-footer-contact {
		padding: 1.8rem 0 1.8rem 1.8rem;
	}

	.plateaumed-footer div .reach-out {
		font-size: 2rem;
		line-height: 3.4rem;
		width: 60%;
		font-family: 'GilroyMedium';
	}

	.plateaumed-footer-contact p {
		font-size: 1.6rem;
		margin-top: 1.2rem;
	}

	.plateaumed-phone-small {
		height: 2rem;
		width: 2rem;
		margin-right: 1rem;
	}

	.badge-container p {
		font-size: 2.4rem;
		margin-bottom: 1.2rem;
	}

	.badge-container img {
		height: 4.6rem;
		margin-right: 1.8rem;
	}
}

@media (min-width: 1100px) and (max-width: 1280px) {
	.plateaumed-features h4 {
		font-size: 1.6rem;
		line-height: 2rem;
	}

	.plateaumed-features p {
		font-size: 1.4rem;
		line-height: 2.2rem;
		font-family: 'GilroyMedium';
	}

	.plateaumed-footer div .reach-out {
		color: #3a3b4a;
		font-size: 2.4rem !important;
		line-height: 4.2rem;
		width: 60%;
	}
}

@media (min-width: 1100px) and (max-width: 1365px) {
	.plateaumed-header h1 {
		width: 85% !important;
		font-size: 5rem !important;
	}

	.plateaumed-header-bullets li {
		font-size: 3rem !important;
		line-height: 4.2rem !important;
	}
}

@media (min-width: 1366px) and (max-width: 1439px) {
	.plateaumed-header h1 {
		width: 85% !important;
		font-size: 5.5rem !important;
	}

	.plateaumed-header-bullets li {
		font-size: 3.2rem !important;
		line-height: 4.2rem !important;
	}
}

@media (min-width: 1440px) and (max-width: 1599px) {
	.plateaumed-header h1 {
		width: 80% !important;
		font-size: 5.8rem !important;
	}

	.plateaumed-header-bullets li {
		font-size: 3.2rem !important;
		line-height: 4.2rem !important;
	}
}

@media (min-width: 1600px) and (max-width: 1919px) {
	/* .plateaumed-header h1 {
		width: 64% !important;
	} */

	.plateaumed-header-bullets li {
		font-size: 3.8rem !important;
		line-height: 5.2rem !important;
	}
}

@media (min-width: 1920px) and (max-width: 2260px) {
	.plateaumed-header h1 {
		width: 60% !important;
	}

	.plateaumed-header h1,
	.plateaumed-header .plateaumed-africa-text {
		font-size: 7rem !important;
		line-height: 8.2rem !important;
	}

	.plateaumed-header .plateaumed-africa-text {
		width: 45% !important;
	}

	.plateaumed-header-bullets li {
		font-size: 4.5rem !important;
		line-height: 5.2rem !important;
	}
}

@media (min-width: 2261px) and (max-width: 2560px) {
	.plateaumed-header h1 {
		width: 50% !important;
	}

	.plateaumed-header h1,
	.plateaumed-header .plateaumed-africa-text {
		font-size: 8rem !important;
		line-height: 9.2rem !important;
	}

	.plateaumed-header .plateaumed-africa-text {
		width: 55% !important;
	}

	.plateaumed-header-bullets li {
		font-size: 5.8rem !important;
		line-height: 7.2rem !important;
	}
}

@media (min-width: 1100px) and (max-width: 1440px) {
	.nav-contact-us p {
		font-size: 2rem;
		margin-right: 4.9rem;
	}

	.plateaumed-header h1 {
		width: 85%;
	}

	.clinical-features h3,
	.administrative-features h3,
	.financial-analytics h3 {
		font-size: 3rem;
	}

	.plateaumed-features {
		height: 14rem;
	}

	.administrative-features .plateaumed-features {
		width: 30%;
	}

	.financial-analytics .plateaumed-features {
		width: 35%;
	}

	.plateaumed-footer-contact {
		border-left: 0.1rem solid #ffad4d;
		padding: 2rem 0 2rem 2rem;
	}
}
