@font-face {
	font-family: 'GeneralSansBold';
	src: url('../appointment/fonts/OTF/GeneralSans-Bold.otf') format('otf');
}

@font-face {
	font-family: 'GeneralSansBoldItalic';
	src: url('../appointment/fonts/OTF/GeneralSans-BoldItalic.otf') format('otf');
}

@font-face { 
	font-family: 'GeneralSansExtralight';
	src: url('../appointment/fonts/OTF/GeneralSans-Extralight.otf') format('otf');
}

@font-face {
	font-family: 'GeneralSansExtraLightItalic';
	src: url('../appointment/fonts/OTF/GeneralSans-ExtralightItalic.otf') format('otf');
}

@font-face {
	font-family: 'GeneralSansItalic';
	src: url('../appointment/fonts/OTF/GeneralSans-Italic.otf') format('otf');
}

@font-face {
	font-family: 'GeneralSansLight';
	src: url('../appointment/fonts/OTF/GeneralSans-Light.otf') format('otf');
}
@font-face {
	font-family: 'GeneralSansLightItalic';
	src: url('../appointment/fonts/OTF/GeneralSans-LightItalic.otf') format('otf');
}@font-face {
	font-family: 'GeneralSansMedium';
	src: url('../appointment/fonts/OTF/GeneralSans-Medium.otf') format('otf');

}@font-face {
	font-family: 'GeneralSansMediumItalic';
	src: url('../appointment/fonts/OTF/GeneralSans-MediumItalic.otf') format('otf');

}@font-face {
	font-family: 'GeneralSansRegular';
	src: url('../appointment/fonts/OTF/GeneralSans-Regular.otf') format('otf');

}@font-face {
	font-family: 'GeneralSansSemibold';
	src: url('../appointment/fonts/OTF/GeneralSans-Semibold.otf') format('otf');

}@font-face {
	font-family: 'GeneralSansSemiboldItalic';
	src: url('../appointment/fonts/OTF/GeneralSans-SemiboldItalic.otf') format('otf');
}
* {
	box-sizing: border-box;
	/* margin: 0%; */
}

body,
html {
	font-size: 19px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #EDF0F8;
	font-family: 'General Sans';
	scroll-behavior: smooth;
}
nav{ 
    position: absolute;
    float: right;
    height: 64px;
    left: 61rem;
    top: 30px;
	border: 50px;


}
 .column {
	position: absolute;
	width: 480px;
	height: 592px;
	left: 44rem;
	top: 100px;

	background: #FFFFFF;
	border-radius: 15px;
 }
  .site{
	position: absolute;
	width: 630px;
	height: 720px;
	left: 40px;
	top: 4rem;
   
 
  }
 
  header{

	font-family: 'General Sans';
	font-size: 28px;
	font-weight: 700 bold;
	line-height: 40px;
	letter-spacing: 0em;

	
  }
  #site {

	font-family: 'General Sans';
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.02em;
	top: 300rem;
	
  }
  #text{

	font-family: 'General Sans';
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: center;

	
  }
 .image{
	position: absolute;
width: 720px;
height: 451.23px;
left: -7px;
top: 3rem;

/* transform: rotate(26.28deg); */
	
   } 
 
.form {
	padding: 0px 40px;	
    /* width: 240%;  height: 20px; */

} 

.form-control {
	margin-bottom: 10px;
	padding-bottom: 7px;
	position: relative;
    width: 100%;
	padding:12px, 4px, 12px, 12px;
}

.form-control label {

	position: static;
width: 102px;
height: 16px;
left: 0px;
top: 0px;

/* Labels */

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

text-align: center;
letter-spacing: 0.04em;

/* text/main */

color: #677597;


/* Inside auto layout */
margin: 8px 0px;
	

}

.form-control input {
	border: 1px solid #DFE2E9;
	border-radius: 10px;
	display: block;
	font-family: inherit;
	font-size: 16px;
	font-weight: 400;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #0B0C7D; 
	/* background: #FFFFFF; */
	display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 4px 12px 12px;

position: static;
width: 400px;
height: 48px;
left: 0px;  
top: 24px;
/* primary/blue */

/* border-color: 1px solid #0B0C7D; */
border-radius: 10px;
/* margin: 8px 0px; */
}
.date{

	position: static;
width: 221px;
height: 16px;
left: 0px;
top: 0px;

/* Labels */

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

text-align: center;
letter-spacing: 0.04em;

/* text/main */

color: #677597;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
#date{
	 border: #E2F8EB;
	display: flex;
flex-direction: row;
align-items: center;
padding: 6px 4px 6px 12px;

position: static;
width: 400px;
height: 36px;
left: 0px;
top: 0px;

background: #E2F8EB;
border-radius: 10px;
cursor: pointer;

/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0; */
margin: 8px 0px;
}
/* .form-control.success input {
	border-color: #2ecc71;
} */

.form-control.error input {
	border-color: #e74c3c; 

}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #E6E8EB;
	border: 2px solid #E6E8EB;
	border-radius: 10px;
	color: #FFFFFF;
	display: block;
	font-family: 'General Sans';
	font-size: 18px;
	padding: 10px;
	margin-top: 2.5rem;
	margin-bottom: 2rem;
	width: 100%;
	/* top: 528px; */
}
.form button:focus{
	display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 15px 4px; */

position: absolute;
width: 400px;
height: 48px;
left: 40px;
/* top: 528px; */

/* primary/blue */

background: #0B0C7D;
border-radius: 10px;
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}
